@use "../global/_setting" as *;

// .layout__normal
//=====================================================
.layout__normal {
  width: min(93%, 460px);
  margin-inline: auto;
  @include media(tb) {
    width: min(93%, 124rem);
  }
}

// .layout__article
//=====================================================
.layout__article {
  width: 93%;
  margin-inline: auto;
  @include media(tb) {
    width: min(93%, 72rem);
  }
}

// .layout__padding
//=====================================================
.layout__padding {
  padding: clamp(78px*0.5, 78/750*100vw, 7.8rem*0.5) 0;
  @include media(pc) {
    padding: min(86/1440*100vw, 8.6rem) 0;
  }
}

// .layout__large
//=====================================================
.layout__large {
  padding: clamp(110px*0.5, 110/750*100vw, 11rem*0.5) 0;
  @include media(pc) {
    padding: min(110/1440*100vw, 11rem) 0;
  }
}

// .layout__margintop
//=====================================================
.layout__margintop {
  margin-top: clamp(78px*0.5, 78/750*100vw, 7.8rem*0.5);
  @include media(pc) {
    margin-top: min(86/1440*100vw, 8.6rem);
  }
}

// .layout__sub
//=====================================================
.layout__sub {
  display: block;
  width: 100%;
  font-size: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.5);
  padding: clamp(56px*0.5, 56/750*100vw, 5.6rem*0.5) 0;
  background: colors(black-light);
  margin-bottom: 1px;
  @include media(tb) {
    padding: clamp(56px, 56/750*100vw, 5.6rem) 0;
  }
  @include media(pc) {
    font-size: min(16/1440*100vw, 1.6rem);
  }
}
