@use "../global/_setting" as *;

// .list__pagination
//=====================================================
.list__pagination {
  .inner-layout {
    position: relative;
  }
  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3.5em;
    list-style: none;
    @include media(tb) {
      padding-top: 0;
    }
  }
  a {
    transition: 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
  .btnprev,
  .btnnext {
    width: 48.5%;
    position: absolute;
    @include media(tb) {
      width: auto;
      position: static;
      width: 24%;
    }
  }
  .btnprev {
    top: 0;
    left: 0;
    @include media(tb) {
      margin-right: 2.5em;
    }
  }
  .btnnext {
    top: 0;
    right: 0;
    @include media(tb) {
      margin-left: 2.5em;
    }
  }
  .prev,
  .next {
    background: colors(pri);
    border-radius: clamp(10px*0.5, 10/750*100vw, 1rem*0.5);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.75em;
    position: relative;
    @include media(tb) {
      padding: 0.75em 1.75em;
    }
    @include media(pc) {
      border-radius: min(10/1440*100vw, 1rem);
    }
  }
  .prev {
    &:before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      @include mask("../img/common/icon-arrow-left.svg");
      background: colors(white);
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translateY(-50%);
      transform-origin: center center;
    }
  }
  .next {
    &:after {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      @include mask("../img/common/icon-arrow-right.svg");
      background: colors(white);
      position: absolute;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
      transform-origin: center center;
    }
  }
  .num {
    width: 2.4em;
    height: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: clamp(10px*0.5, 10/750*100vw, 1rem*0.5);
    background: colors(gray-dark);
    margin: 0 0.25em;
  }
  .is--disabled {
    opacity: 0.3;
    background: colors(gray-dark);
  }
  .is--current {
    background: colors(pri);
  }
}

// .list__breadcrumb
//=====================================================
.list__breadcrumb {
  margin-top: 52px;
  background: colors(black-light);
  font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
  padding: 1em 0;
  @include media(pc) {
    margin-top: 80px;
    font-size: min(13/1440*100vw, 1.3rem);
  }
  span {
    display: flex;
    width: 93%;
    margin-inline: auto;
    @include media(tb) {
      width: min(93%, 124rem);
    }
    span {
      display: flex;
      align-items: center;
      width: fit-content;
      margin-inline: initial;
      &:after {
        content: "";
        width: 0.8em;
        height: 0.8em;
        background-image: url(../img/common/icon-arrow-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 0.8em;
      }
      &:last-of-type {
        color: colors(gray);
        &:after {
          content: none;
        }
      }
    }
  }
}

// .list__meta
//=====================================================
// .list__meta
.list__meta {
   background: colors(black-light);
   width: min(100%, 72rem);
   margin-inline: auto;
   //padding-top: clamp(52px*0.5, 52/750*100vw, 5.2rem*0.5);
   .ttlmetalarge {
    font-size: clamp(30px*0.5, 30/750*100vw, 3rem*0.5);
    line-height: 1.6;
    width: 93%;
    margin-inline: auto;
    padding: 1.25em 0;
    color: colors(gray-light);
   }
}

//.list__metabox
.list__metabox {
  font-size: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.5);
  padding: 1.25em 0;
  border-top: solid 1px colors(black);
  .inner-layout {
    width: 93%;
    margin-inline: auto;
  }
  .ttlmetasmall {
    font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
    font-weight: 400;
    margin-bottom: 0.75em;
    color: colors(gray-light);
  }
  .icon__rate {
    margin-bottom: 0.5em;
  }
  .col2 {
    display: flex;
    gap: 0 1em;
    &.col2-aline-item-center {
      align-items: center;
    }
  }
  .price {
    font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
    margin-top: 1.75em;
    a {
      color: colors(gray-light);
    }
  }
}

// .list__dlcolon
//=====================================================
.list__dlcolon {
  display: flex;
  margin-bottom: 0.75em;
  dt {
    line-height: 1.4;
    display: flex;
    &:after {
      content: ":";
      display: block;
      margin: 0 0.5em;
    }
  }
  dd {
    line-height: 1.4;
    &.free {

    }
  }
}