@use "../global/_setting" as *;

// .swiper__fv
//=====================================================
.swiper__fv {
  position: relative;
  @include media(pc) {
    margin-inline: auto;
    width: min(100%, 72rem);
    margin-top: 5.8rem;
  }
}
.article__mainslider {
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  aspect-ratio: 3 / 2;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &.swiper-initialized {
    visibility: visible;
    opacity: 1;
  }
  .swiper-slide {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors(black-light-2);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.is--contain {
        object-fit: contain;
      }
    }
  }
}
.article__tmbslider {
  max-width: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: calc(((100vw - (5px*3)) / 3.5) * (800 / 1200));
  margin-top: 5px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  @include media(tb) {
    margin-top: 8px;
    height: calc(((100vw - (8px*4)) / 4.7) * (800 / 1200));
  }
  @include media(pc) {
    margin-top: 8px;
    height: calc(((72rem - (8px * 3.7)) / 4.7) * 2 / 3);
    //height: calc(((100% - (8px*4)) / 4.7) * (800 / 1200));
  }
  &.swiper-initialized {
    visibility: visible;
    opacity: 1;
  }
  .swiper-slide {
    opacity: 0.3;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors(black-light-2);
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.is--contain {
        object-fit: contain;
      }
    }
  }
}

// 矢印
.article__mainslider-next,
.article__mainslider-prev {
  &:after {
    content: '';
    font-family: initial;
    font-size: 0;
    line-height: 0;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-top: 0;
  transform: translateY(-50%);
  @include media(tb) {
    width: 56px;
    height: 56px;
  }
}
.article__mainslider-next {
  top: calc((((100vw * 2 / 3) + (((100vw - (5px * 3)) / 3.5) * 2 / 3) + 5px) - ((((100vw - (5px * 3)) / 3.5) * 2 / 3) + 5px)) / 2);
  background-image: url('../img/common/icon-arrow-right.svg');
  right: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  @include media(tb) {
    top: calc((((100vw * 2 / 3) + (((100vw - (8px * 4)) / 4.7) * 2 / 3) + 8px) - ((((100vw - (8px * 4)) / 4.7) * 2 / 3) + 8px)) / 2);
  }
  @include media(pc) {
    top: calc((((72rem * 2 / 3) + (((72rem - (8px * 4)) / 4.7) * 2 / 3) + 8px) - ((((72rem - (8px * 4)) / 4.7) * 2 / 3) + 8px)) / 2);
    right: -7.8rem;
  }
}
.article__mainslider-prev {
  top: calc((((100vw * 2 / 3) + (((100vw - (5px * 3)) / 3.5) * 2 / 3) + 5px) - ((((100vw - (5px * 3)) / 3.5) * 2 / 3) + 5px)) / 2);
  background-image: url('../img/common/icon-arrow-left.svg');
  left: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  @include media(tb) {
    top: calc((((100vw * 2 / 3) + (((100vw - (8px * 4)) / 4.7) * 2 / 3) + 8px) - ((((100vw - (8px * 4)) / 4.7) * 2 / 3) + 8px)) / 2);
  }
  @include media(pc) {
    top: calc((((72rem * 2 / 3) + (((72rem - (8px * 4)) / 4.7) * 2 / 3) + 8px) - ((((72rem - (8px * 4)) / 4.7) * 2 / 3) + 8px)) / 2);
    left: -7.8rem;
  }
}

// ページネーション
.swiper-pagination-counter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: colors(white);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}