@use "../global/_setting" as *;

// .btn__query
//=====================================================
.btn__query {
  list-style: none;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-size: clamp(24px*0.5, 20/750*100vw, 2.4rem*0.6);
  gap: 0 0.5em;
  margin: 1.75em 0;
  @include media(pc) {
    font-size: min(14/1440*100vw, 1.4rem);
  }
  li {}
  a {
    display: flex;
    align-items: center;
    border: solid 1px colors(gray);
    border-radius: 5px;
    padding: 0.5em 0.5em;
    line-height: 1.2;
    transition: 0.2s;
  }
  // 別パターン
  &.gnav {
    font-size: 12px;
    margin-left: 3.5%;
  }
  &.gray-light {
    a {
      color: colors(gray);
      border: solid 1px colors(gray-dark);
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// .btn__normal
//=====================================================
.btn__normal {
  font-size: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.6);
  @include media(pc) {
    font-size: min(16/1440*100vw, 1.6rem);
  }
  a,
  .btn {
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 100%;
    padding: 1.15em 0.5em;
    margin-inline: auto;
    transition: 0.3s ease;
    filter: brightness(1) saturate(1);
    cursor: pointer;
    @include media(pc) {
      padding: 1em 0.5em;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  // カラーパターン
  &.pri {
    a,
    .btn {
      background: colors(pri);
      border: solid 1px colors(pri);
      // &:hover {
      //   filter: brightness(1.1) saturate(1.4);
      // }
    }
  }
  &.cta {
    a,
    .btn {
      background: colors(cta);
      border: solid 1px colors(cta);
      // &:hover {
      //   filter: brightness(1.1) saturate(1.4);
      // }
    }
  }
  // サイズ
  &.w87--sp {
    width: 87%;
    margin-inline: auto;
  }
  &.fixedsizenormall--pc {
    @include media(pc) {
      font-size: 1.8rem;
    }
  }
  &.fixedsizelarge--pc {
    @include media(pc) {
      font-size: 2rem;
    }
  }
  &.fixedsizesmall--pc {
    @include media(pc) {
      font-size: 1.5rem;
    }
  }
  &.max-width--small {
    max-width: 45.2rem;
  }
  &.max-width--normal {
    max-width: 54.2rem;
  }
  // レイアウト位置
  &.margin-inline-auto {
    margin-inline: auto;
  }
  // 別パターン
  // テキスト2段のbtn
  &.twoline {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .twolinelarge {
      font-size: clamp(34px*0.5, 34/750*100vw, 3.4rem*0.6);
      margin-top: 0.2em;
      &.fixedsize--pc {
        @include media(pc) {
          font-size: 2rem;
        }
      }
    }
    .twolinesmall {
      font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.6);
      margin-top: 0.5em;
      font-weight: 400;
      &.fixedsize--pc {
        @include media(pc) {
          font-size: 1.4rem;
        }
      }
    }
  }
  // アイコン右に絶対配置
  &.iconright {
    position: relative;
    a,
    .btn {
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.5em;
        margin: auto;
      }
    }
  }
  // 一回り小さいボタン
  &.small {
    font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.6);
    @include media(pc) {
      //font-size: min(16/1440*100vw, 1.6rem);
    }
    a,
    .btn {
      width: 74%;
      padding: 0.75em 0.5em;
    }
  }
}

// .btn__tag
//=====================================================
.btn__tag {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(24px*0.5, 20/750*100vw, 2.4rem*0.6);
  gap: 4px;
  list-style: none;
  @include media(pc) {
    font-size: clamp(11px, 13/1440*100vw, 1.3rem);
  }
  .tag {
    display: inline-block;
    padding: 0.5em 0.85em;
    color: colors(white);
    background-color: colors(gray-dark);
    border-radius: clamp(10px*0.5, 10/750*100vw, 1rem*0.6);
    text-decoration: none;
    transition: 0.2s;
    @include media(pc) {
      border-radius: 5px;
    }
    &:active {
      background-color: colors(black-light);
    }
    &.pri {
      background-color: colors(pri);
    }
    &.secon {
      background-color: colors(secon);
    }
    &.rate {
      background-color: colors(rate);
    }
    &.black {
      background-color: colors(black);
    }
    &.alpha {
      opacity: 0.8;
    }
    &.pointer-events-none {
      pointer-events: none;
    }
    // 個別タグ　色つき
    &.tag-uncensored {
      background-color: colors(pri);
    }
    // hover
    &:hover {
      opacity: 0.7;
    }
    // 別パターン
    &.media {
      background: none;
      padding: 0;
      height: clamp(64px*0.5, 64/750*100vw, 6.4rem*0.6);
      width: fit-content;
      img {
        width: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
  // 別パターン
  // .large
  &.large {
    font-size: clamp(28px*0.5, 24/750*100vw, 2.8rem*0.6);
    gap: 6px;
    @include media(pc) {
      font-size: clamp(13px, 16/1440*100vw, 1.6rem);
    }
  }
  // .small
  &.small {
    font-size: clamp(20px*0.5, 20/750*100vw, 2rem*0.6);
    gap: 3px;
    @include media(pc) {
      font-size: clamp(12px, 13/1440*100vw, 1.3rem);
    }
    .tag {
      padding: 0.4em 0.6em;
    }
  }
  // .fixedsize--pc
  &.fixedsize--pc {
    @include media(pc) {
      font-size: 1.6rem;
    }
  }
}

// .btn__tagtext
//=====================================================
.btn__tagtext {
  font-size: clamp(20px*0.5, 20/750*100vw, 2rem*0.6);
  color: colors(gray-3);
  @include media(pc) {
    font-size: clamp(12px, 14/1440*100vw, 1.4rem);
  }
  li {
    display: inline;
    line-height: 1.75;
    &:after {
      content: ", ";
      display: inline-block;
      margin-right: 0.35em;
    }
    a {
      color: colors(gray);
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}










//.btn__imgwrap
//=====================================================
// .btn__imgwrap {
//   .imgwrap {
//     overflow: hidden;
//     img {
//       width: 100%;
//       transition: 0.7s ease;
//       transform: scale(1.01);
//       transform-origin: center center;
//     }
//   }
//   &:hover {
//     .imgwrap {
//       img {
//         transform: scale(1.12);
//       }
//     }
//   }
// }

