@use "../global/_setting" as *;

// .card__normalwrap
//=====================================================
.card__normalwrap {
  font-size: clamp(20px*0.5, 20/750*100vw, 2rem*0.5);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 6.2em;
  @include media(tb) {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: clamp(20px*0.5, 20/750*100vw, 2rem*0.6);
  }
  @include media(pc) {
    font-size: min(18/1440*100vw, 1.8rem);
    display: grid;
    gap: clamp(60px*0.6, 60/1440*100vw, 6rem);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 2rem;
  }
  &.col2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75em;
    @include media(tb) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include media(pc) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 1.2em;
    }
    @include media(pc-l) {
      gap: 1.5em;
    }
    @include media(pc-xl) {
      gap: 1.75em;
    }
  }
}

// .card__normal
//=====================================================
.card__normal {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  //margin-bottom: 6.2em;
  background: colors(black-light);
  border-radius: clamp(30px*0.5, 30/750*100vw, 3rem*0.5);
  @include media(pc) {
    border-radius: min(20/1440*100vw, 2rem);
  }
  .link {
    display: block;
    text-decoration: none;
    color: inherit;
    &:hover,
    &.is--hover {
      .mainslider-slide {
        img {
          @include media(pc) {
            transform: scale(1.18);
          }
        }
      }
      & + .inner-layout-2 {
        .btn__normal {
          .btn {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .mainslider {
    position: relative;
  }
  .mainslider-slide {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: clamp(30px*0.5, 30/750*100vw, 3rem*0.5) clamp(30px*0.5, 30/750*100vw, 3rem*0.5) 0 0;
    @include media(pc) {
      border-radius: min(20/1440*100vw, 2rem) min(20/1440*100vw, 2rem) 0 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease;
    }
  }
  .inner-layout-1 {
    padding: 1.5% 5% 0 5%;
  }
  .quality {
    position: absolute;
    top: 4%;
    left: 4%;
    @include z-index-1;
    // @include media(pc) {
    //   top: 0.75em;
    //   left: 0.75em;
    // }
  }
  .playtime {
    position: absolute;
    bottom: 4%;
    right: 4%;
    @include z-index-1;
    // @include media(pc) {
    //   bottom: 0.75em;
    //   right: 0.75em;
    // }
  }
  .layoutcol2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
    margin: 1em 0 0.85em;
    @include media(pc) {
      font-size: clamp(12px, 13/1440*100vw, 1.3rem);
    }
    .icon__rating {
      // _icon.scssに記述
    }
    time {
      color: colors(gray);
    }
  }
  .ttl {
    font-size: clamp(32px*0.5, 32/750*100vw, 3.2rem*0.5);
    line-height: 1.65;
    font-weight: 700;
    @include media(pc) {
      font-size: clamp(16px, 18/1440*100vw, 1.9rem);
    }
  }
  .inner-layout-2 {
    padding: 0 5% 8.5% 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .tmbsliderwrap {
    font-size: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.5);
    width: 60%;
    margin: 0.8em 0 1.25em;
    @include media(pc) {
      font-size: clamp(15px, 18/1440*100vw, 1.8rem);
    }
  }
  .tmbslider {}
  .tmbslider-slide {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: clamp(10px*0.5, 10/750*100vw, 1rem*0.5);
    opacity: 0.3;
    transition: opacity 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .tagwrap {
    margin-bottom: auto;
  }
  .btn__tag {
    // _btn.scssに記述
  }
  .btn__normal {
    margin-top: 1.5em;
    // _btn.scssに記述
  }
  // .small
  //=====================================================
  &.small {
    border-radius: clamp(20px*0.5, 20/750*100vw, 2rem*0.5);
    @include media(pc) {
      border-radius: min(20/1440*100vw, 2rem);
    }
    .mainslider-slide {
      border-radius: clamp(20px*0.5, 20/750*100vw, 2rem*0.5) clamp(20px*0.5, 20/750*100vw, 2rem*0.5) 0 0;
      @include media(pc) {
        border-radius: min(20/1440*100vw, 2rem) min(20/1440*100vw, 2rem) 0 0;
      }
    }
    .inner-layout-1 {
      padding: 1.5% 3% 0 3%;
    }
    .quality {
      position: absolute;
      top: 5%;
      left: 5%;
      @include z-index-1;
    }
    .playtime {
      position: absolute;
      bottom: 5%;
      right: 5%;
      @include z-index-1;
    }
    .layoutcol2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: clamp(20px*0.5, 20/750*100vw, 2rem*0.5);
      margin: 0.5em 0 0.4em;
      @include media(pc) {
        font-size: clamp(12px, 13/1440*100vw, 1.3rem);
        margin: 0.9em 0 0.65em;
      }
      .icon__rating {
        // _icon.scssに記述
      }
    }
    .ttl {
      font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
      display: -webkit-box; /* 必須: Flexboxのようなボックスレイアウト */
      -webkit-box-orient: vertical; /* 必須: ボックス方向を垂直に設定 */
      overflow: hidden; /* 必須: ボックス外を非表示 */
      text-overflow: ellipsis; /* 必須: 「...」を付ける */
      -webkit-line-clamp: 2; /* 必須: 最大行数を指定（この場合2行） */
      max-height: calc(1.5em * 2); /* 最大行高を計算（2行分） */
      @include media(pc) {
        font-size: clamp(14px, 15/1440*100vw, 1.6rem);
      }
    }
    .inner-layout-2 {
      padding: 0 3% 8.5% 3%;
    }
    .tmbsliderwrap {
      font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.5);
      width: 95%;
      margin: 1em 0 1em;
      @include media(tb) {
        width: 80%;
      }
      @include media(pc) {
        font-size: clamp(13px, 15/1440*100vw, 1.6rem);
      }
      .swiper-slide {
        margin-right: 6px !important;
      }
    }
    .btn__normal {
      margin-top: 0.75em;
      // _btn.scssに記述
    }
  }

} // END .card__normal