@use "../global/_setting" as *;

// .icon__normal
//=====================================================
.icon__normal {
  display: flex;
  align-items: center;
  &.before {
    &:before {
      content: "";
      display: block;
      width: 1.25em;
      height: 1.25em;
      margin-right: 0.35em;
      flex-shrink: 0;
      // @include media(pc) {
      //   width: 1em;
      //   height: 1em;
      // }
    }
  }
  &.after {
    &:after {
      content: "";
      display: block;
      width: 1.25em;
      height: 1.25em;
      margin-left: 0.35em;
      flex-shrink: 0;
      // @include media(pc) {
      //   width: 1em;
      //   height: 1em;
      // }
    }
  }
  // アイコンパターン
  //=====================================================
  &.filter {
    &:before,
    &:after {
      @include mask("../img/common/icon-filter.svg");
    }
  }
  &.tag {
    &:before,
    &:after {
      @include mask("../img/common/icon-tag.svg");
    }
  }
  &.search {
    &:before,
    &:after {
      @include mask("../img/common/icon-search.svg");
    }
  }
  &.video {
    &:before,
    &:after {
      @include mask("../img/common/icon-video.svg");
    }
  }
  &.external-link {
    &:before,
    &:after {
      @include mask("../img/common/icon-external-link.svg");
    }
  }
  &.add {
    &:before,
    &:after {
      @include mask("../img/common/icon-add.svg");
    }
  }
  &.remove {
    &:before,
    &:after {
      @include mask("../img/common/icon-remove.svg");
    }
  }
  &.copy {
    &:before,
    &:after {
      @include mask("../img/common/icon-copy.svg");
    }
  }
  &.users {
    &:before,
    &:after {
      @include mask("../img/common/icon-users.svg");
    }
  }
  // カラーパターン
  //=====================================================
  &.pri {
    &:before,
    &:after {
      background: colors(pri);
    }
  }
  &.secon {
    &:before,
    &:after {
      background: colors(secon);
    }
  }
  &.cta {
    &:before,
    &:after {
      background: colors(cta);
    }
  }
  &.act {
    &:before,
    &:after {
      background: colors(act);
    }
  }
  &.rate {
    &:before,
    &:after {
      background: colors(rate);
    }
  }
  &.good {
    &:before,
    &:after {
      background: colors(good);
    }
  }
  &.bad {
    &:before,
    &:after {
      background: colors(bad);
    }
  }
  &.white {
    &:before,
    &:after {
      background: colors(white);
    }
  }
  &.white-fff {
    &:before,
    &:after {
      background: colors(white-fff);
    }
  }
  &.black {
    &:before,
    &:after {
      background: colors(white);
    }
  }
  &.gray-light {
    &:before,
    &:after {
      background: colors(gray-light);
    }
  }
  &.gray-light-2 {
    &:before,
    &:after {
      background: colors(gray-light-2);
    }
  }
  &.gray-light-3 {
    &:before,
    &:after {
      background: colors(gray-light-3);
    }
  }
  &.gray {
    &:before,
    &:after {
      background: colors(gray);
    }
  }
  &.gray-2 {
    &:before,
    &:after {
      background: colors(gray-2);
    }
  }
  &.gray-3 {
    &:before,
    &:after {
      background: colors(gray-3);
    }
  }
  // サイズ
  //=====================================================
  &.large {
    &:before {
      width: 2em;
      height: 2em;
    }
  }
  &.medium {
    &:before {
      width: 1.65em;
      height: 1.65em;
    }
  }
  &.small {
    &:before {
      width: 1em;
      height: 1em;
    }
  }
  // テキストの横
  //=====================================================
  &.inline-block {
    &.before {
      &:before {
        display: inline-block;
      }
    }
    &.after {
      &:after {
        display: inline-block;
      }
    }
  }
}

// .icon__rate
//=====================================================
.icon__rate {
  display: flex;
  align-items: center;
  gap: 0.5em;
  .average-score {
    font-size: clamp(26px*0.5, 26/750*100vw, 2.6rem*0.6);
    font-weight: 700;
    color: colors(rate);
    @include media(pc) {
      font-size: min(14/1440*100vw, 1.4rem);
    }
  }
  .stars {
    display: flex;
    gap: 0.2em;
  }
  .star {
    width: clamp(38px*0.5, 38/750*100vw, 3.8rem*0.6);
    height: clamp(38px*0.5, 38/750*100vw, 3.8rem*0.6);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //margin-top: 0.1em;
    @include media(pc) {
      width: min(18/1440*100vw, 1.8rem);
      height: min(18/1440*100vw, 1.8rem);
    }
  }
  .star-filled {
    background-image: url('../img/common/icon-starfill.svg');
  }
  .star-half {
    background-image: url('../img/common/icon-starhalf.svg');
  }
  .star-outline {
    background-image: url('../img/common/icon-starline.svg');
  }
  // 別パターン
  // .fixedsize
  &.fixedsize--pc {
    .average-score {
      @include media(pc) {
        font-size: 1.4rem;
      }
    }
    .star {
      @include media(pc) {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

// .icon__ratesmall
//=====================================================
.icon__ratesmall {
  display: flex;
  align-items: center;
  gap: 0.3em;
  .stars {
    display: flex;
    .star {
      width: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.6);
      height: clamp(28px*0.5, 28/750*100vw, 2.8rem*0.6);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media(pc) {
        // width: min(18/1440*100vw, 1.8rem);
        // height: min(18/1440*100vw, 1.8rem);
      }
      &.star-filled {
        background-image: url('../img/common/icon-starfill.svg');
      }
    }
  }
  .average-score {
    font-size: clamp(24px*0.5, 24/750*100vw, 2.4rem*0.6);
    font-weight: 700;
    color: colors(rate);
    margin-top: 0.15em;
    @include media(pc) {
      font-size: 1.5rem;
    }
  }
}


// .icon__helpwrap
//=====================================================
.icon__helpwrap {
  font-size: clamp(26px*0.5, 24/750*100vw, 2.6rem*0.6);
  color: colors(gray-light);
  display: inline-block;
  line-height: 1.5;
  @include media(pc) {
    font-size: 1.4rem;
  }
  .icon {
    width: 1.45em;
    height: 1.45em;
    background-image: url(../img/common/icon-question-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    position: relative;
    top: -1.5px;
    cursor: pointer;
  }
  .tooltip {
    position: absolute;
    top: calc(100% + 0.5em);
    left: 0;
    width: max-content;
    max-width: min(93vw, 72rem*0.88);
    padding: 1.25em;
    background-color: colors(gray-light);
    color: colors(black);
    //font-size: 0.9em;
    border-radius: clamp(20px*0.5, 20/750*100vw, 2rem*0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    @include z-index-1;
    line-height: 1.4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .tooltip-close {
      position: absolute;
      top: -0.55em;
      right: -0.55em;
      width: 1.75em;
      height: 1.75em;
      background-image: url(../img/common/icon-close.svg);
      background-size: 1em 1em;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      background-color: colors(act);
      border-radius: 50%;
    }
  }
  &.is--visible .tooltip {
    opacity: 1;
    visibility: visible;
  }
}



