@use "../global/_setting" as *;

// .ttl__layout
//=====================================================
.ttl__layout {
  font-size: clamp(38px*0.5, 32/750*100vw, 3.8rem*0.6);
  @include media(pc) {
    font-size: 2.8rem;
  }
  .ttl {
    line-height: 1.5;
  }
  .text {
    font-size: clamp(28px*0.5, 24/750*100vw, 2.8rem*0.6);
    line-height: 1.5;
    color: colors(gray-light);
    margin-top: 0.35em;
    @include media(pc) {
      font-size: 1.8rem;
    }
  }
  // 別パターン
  //.small
  &.small {
    font-size: clamp(34px*0.5, 30/750*100vw, 3.4rem*0.6);
    @include media(pc) {
      font-size: 2.4rem;
    }
  }
  //.mb1em
  &.mb1em {
    margin-bottom: 1em;
  }
}

// .ttl__article
//=====================================================
.ttl__article {
  margin-bottom: clamp(52px*0.5, 52/750*100vw, 5.2rem*0.6);
  @include media(pc) {
    margin-bottom: 4.4rem;
  }
  .stats {
    display: flex;
    font-size: clamp(24px*0.5, 22/750*100vw, 2.4rem*0.6);
    margin-bottom: 1.5em;
    @include media(pc) {
      font-size: 1.4rem;
    }
    time { 
      color: colors(gray);
      display: block;
      margin-left: auto;
    }
  }
  .ttlblock {
    .ttl {
      font-size: clamp(38px*0.5, 34/750*100vw, 3.8rem*0.75);
      line-height: 1.7;
      font-weight: 700;
      @include media(pc) {
        font-size: 3rem;
      }
    }
    .read {
      font-size: clamp(26px*0.5, 24/750*100vw, 2.6rem*0.6);
      color: colors(gray-light);
      line-height: 1.75;
      border: solid 1px colors(gray-dark);
      border-radius: clamp(30px*0.5, 30/750*100vw, 3rem*0.6);
      padding: 1.5em 1.75em 1.75em;
      margin: 1.5em 0 1.75em;
    }
    .rating {
      font-size: clamp(26px*0.5, 24/750*100vw, 2.6rem*0.6);
      text-align: center;
      color: colors(good);
      justify-content: center;
    }
  }
}


